KERNEL=="card0", SUBSYSTEMS=="drm", ACTION=="change",ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/sergiy/.Xauthority" RUN+="/usr/bin/systemctl start hot_plug.service"
